
@import "reset";
@import "mixins";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: "Roboto", sans-serif;
}

.container {
  @include column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.header__bm {
  position: absolute;
  top: 3%;
  right: 5%;
  @include column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 44px;
  height: 37px;
  color: #ffffff;
  gap: 2px;
  display: none;
  .header__lines {
    width: 17px;
    height: 2px;
    background-color: #fff;
    display: none;
  }
}

.header {
  width: 100%;
  margin: 45px 0 50px 0;
  position: relative;
}

.header--menu {
  display: flex;
  flex-direction: row;
  position: unset;
  justify-content: center;
  gap: 68px;

}

.menu__item {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
    &:hover {
      color: #57A4A4;
    }
}

.image {
  display: flex;
  box-sizing: border-box;
}

.image__main {
  max-width: 1170px;
  width: 100%;
}

.container__header1 {
  display: flex;
  justify-content: start;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  color: $text-color;
  margin-top: 50px;
  margin-bottom: 30px;
}

.main {
  @include column;
  max-width: 1170px;
  margin-bottom: 80px;
}

.main__header {
  margin-top: 64px;
  margin-bottom: 24px;
  text-transform: capitalize;
  color: $text-color;
  font-size: 16px;
  font-weight: 700;
}

.main__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.main__item {
  display: flex;
  gap: 20px;
}

.main__text1 {
  font-size: 16px;
  font-weight: 700;
  color: $text-color;
  margin-bottom: 10px;
  margin-top: 15px;
}

.main__text2 {
  font-size: 12px;
  font-weight: 400;
  color: #7C7C7C;
  margin-bottom: 10px;
}

.main__text3 {
  font-size: 14px;
  font-weight: 400;
  color: #5C5C5C;
}

.gallery {
  display: flex;
  max-width: 1170px;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 50px;
}


.gallery__headers {
  display: flex;
  justify-content: space-between;
  padding: 47px 0 24px 0;
}

.gallery__gallery {
  display: flex;
  gap: 10px;
}

.gallery__background {
  background-color: #c9c6c6;
  width: 100%;
}

.gallery__header1 {
  font-size: 20px;
  font-weight: 700;
  color: $text-color;
}

.gallery__header2 {
  font-size: 18px;
  font-weight: 700;
  color: $text-color;
  text-transform: capitalize;
}

.footer__background {
  background-color: #000000;
}

.footer {
  @include column;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 70px;


}

.footer__header {
  font-weight: 700;
  font-size: 20px;
  color: #FEFEFE;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-top: 50px;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  color: #B9B9B9;
  margin-bottom: 20px;
}

.footer__social {
  display: flex;
  margin-bottom: 20px;
}

.footer__contacts {
  font-weight: 400;
  font-size: 16px;
  color: #B9B9B9;
}

@media (min-width: 768px) and (max-width: 1200px) {

  .container {
    margin: 0 10%;
  }

  .main__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .header {
    box-sizing: border-box;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header--menu {
    gap: 30px;
  }

  .gallery {
    margin: 0 10%;
  }

  .gallery__gallery {
    gap: 5px
  }

  .gallery__image {
    display: flex;
      img {
        display: flex;

        width: 100%;
        height: auto;
      }
  }
  
  .gallery__cut {
    display: none;
  }
  
}


@media (min-width: 320px) and (max-width: 767px) {

  .container {
    margin: 0 10%;
  }


  .header--menu {
    display: none;

  }


  .active {
    display: flex;
    position: absolute;
    top: 37px;
    right: 0;
    flex-direction: column;
    margin: 0;
    width: 20vw;
    font-size: 12px;
    gap: 10px;
    border: 1px solid transparent;
    padding: 10px 30px 10px 10px;
    background-color: #9a9494;
  }

  .menu__item .active:hover {
    color: #57A4A4;;
  }

  .header__bm {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .header__lines {
      display: block;
    }
  }

  .header__line1--clicked {
    transform: rotate(45deg);
    position: relative;
    top: 2px;
  }
  }

  .header__line2--clicked {
    display: none;
  }

  .header__line3--clicked {
    transform: rotate(-45deg);
    position: relative;
    bottom: 2px;
  }

  .main__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__item {
    display: flex;
    flex-direction: column;
  }

  .main__description {
    display: flex;
    flex-direction: column;
    .main__text3 {
      display: none;
    }
  }
  .gallery {
    background-color: #fff;
    @include centered;

  }
  .gallery__header1 {
    display: none;
  }

  .gallery__image {
    img {
      display: flex;
      width: 100%;
      height: auto;
    }
  }

.gallery__min  {
  display: none;

  }
  .footer__background {
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px 30px 15px;

    .footer__header {
      font-size: 14px;
    }
    .footer__text {
      font-size: 12px;
    }

    .footer__contacts {
      font-size: 12px;
    }
  }

